/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: var(--font-weight-text);
  font-family: var(--font-base), monospace, sans-serif;
  background-color: var(--br-color);
  color: var(--main-color);
  background-image: var(--br-gradient);
  background-attachment: fixed;
  background-size: cover;
  padding: 100px 0;
}

.section-width {
  width: var(--section-width);
  max-width: 700px;
  background-color: var(--br-color);
  display: flex;
  flex-direction: column;
  border: 2px solid var(--main-color);
  margin: 0 auto;
}

/*Шапка*/

.header {
  font-family: var(--font-accent), monospace, sans-serif;
  text-transform: uppercase;
  align-items: center;
  margin-bottom: 100px;
  padding: 0 0 25px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) auto 10px;
  text-decoration: none;
}

.header__subtitle {
  margin: 0 auto 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 14px;
}

.theme-menu__list {
  margin: 0 auto 0;
  width: max-content;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 14px;
  gap: 9px;
}

.theme-menu__item {
  margin-left: 20px;
}

/*Кнопки*/
.button {
  background: transparent;
  cursor: pointer;
  position: relative;
}

.theme-menu__button {
  background: transparent;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  border: none;
}

.theme-menu__button:disabled {
  position: relative;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation-name: play;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  inset-inline-start: -20px;
}

.theme-menu__button:hover {
  opacity: 60%;
  transition: opacity 0.3s ease;
}

.theme-menu__button:active {
  opacity: 60%;
}

.theme-menu__button:focus {
  outline: none;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus-visible {
  opacity: 60%;
  outline: none;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin-top: -2px;
  background-color: var(--main-color);
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

/*Карточки*/

.card {
  margin-bottom: 50px;
}

.card__title {
  padding: 3.5px 10px;
  font-weight: var(--font-weight-title);
  line-height: 21.78px;
  font-size: 18px;
}

.card__image-container {
  position: relative;
  max-width: 100%;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 13px;
  opacity: 50%;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  text-shadow: 
    -2px 0 var(--br-color), 
    0 2px  var(--br-color), 
    2px 0 var(--br-color), 
    0 -2px  var(--br-color);
  mix-blend-mode: hard-light;
}

@supports((-webkit-text-stroke: 1px var(--br-color)) or (text-stroke: 1px var(--br-color);)) {
  .card__image-label {
      text-shadow: none;
      text-stroke: 1px var(--br-color);
      -webkit-text-stroke: 1px var(--br-color);
  }
} 

.card__image {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

.card__text-container {
  padding: 25px;
}

.card__text-container p:not(:last-of-type) {
  margin-bottom: 27px;
}

.card__text-container button {
  margin-top: 25px;
}

.card__text {
  font-weight: var(--font-weight-text);
  line-height: 21px;
  font-size: 18px;
}

/*Кпопы лайк и не только*/

.button__container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2px;
}

.button__text {
  position: relative;
  font-family: var(--font-accent), monospace, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 12.6px;
  color: var(--mix-color);
  mix-blend-mode: difference;
}

.card__like-button {
  border: 2px solid var(--main-color);
  padding: 10px 35px;
  transition: box-shadow 0.3s ease;
  width: 130px;
  display: flex;
  justify-content: center;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--main-color);
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.button:hover::before {
  transform: scaleX(1);
}

/*Кнопка сердце*/
.card__icon-button {
  background: transparent;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  height: 36px;
  border: none;
  outline: 2px solid transparent;
  transition: outline-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: none;
  outline: 2px solid var(--main-color);
}

/*Подвал*/

.footer__button {
  padding: 15px 20px;
  margin: 0 auto;
  border: 2px solid var(--main-color);
  background-color: var(--br-color);
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.floppy {
  color: var(--mix-color);
  width: 28px;
  height: 28px;
  mix-blend-mode: difference;
}

/* Сердце */

.sparks {
  opacity: 0;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color);
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--sparks-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--sparks-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--sparks-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--sparks-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--sparks-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart 0.3s 0.1s ease-in 1 alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in 1 alternate;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}
/* Диалог */

.dialog {
  padding: 32px 42px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: fixed;
  inset: 0;
  min-width: 341px;
  border: 2px solid var(--main-color);
  background-color: var(--br-color);
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
} 

.dialog__container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__text {
  font-family: var(--font-accent), monospace, sans-serif;
  line-height: 21px;
  font-size: 14px;
  font-weight: 400px;
  max-width: 198px;
  color: var(--main-color);
}

.dialog__button {
  border: 2px solid var(--main-color);
  text-transform: uppercase;
  transition: box-shadow 0.3s ease;
}

.dialog__button:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--main-color);
}

.dialog .floppy { 
  width: 39px;
  height: 39px;
  mix-blend-mode: normal;
  color: var(--main-color);
}

/* Медиазапросы */

@media (width >=1024px) {
  .header__title {
    margin-bottom: 25px;
  }

  .card__image-label {
    right: 25px;
  }

  .floppy {
    width: 21px;
    height: 21px;
  }

  .footer__button {
    flex-direction: row;
  }

  .dialog {
    max-width: 357px;
  }
}