/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: var(--font-weight-text);
  font-family: var(--font-base), monospace, sans-serif;
  background-color: var(--br-color);
  color: var(--main-color);
  background-image: var(--br-gradient);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section-width {
  width: var(--section-width);
}

.header {
  font-family: var(--font-accent), monospace, sans-serif;
  background-color: var(--br-color);
  text-transform: uppercase;
  margin: 100px 0 50px;
  padding: 0 0 25px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  width: max-content;
  margin: 120px auto 0;
}

.header__subtitle {
  margin: 20px auto 0;
  width: min-content;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 14px;
}

.theme-menu__list {
  margin: 25px auto 0;
  width: min-content;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.theme-menu__button {
  text-transform: uppercase;
  background: transparent;
  border: none;
  line-height: 14px;
}