/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: var(--font-weight-text);
  font-family: var(--font-base), monospace, sans-serif;
  background-color: var(--br-color);
  color: var(--main-color);
  background-image: var(--br-gradient);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 100px 0;
}

.section-width {
  width: var(--section-width);
  background-color: var(--br-color);
  display: flex;
  flex-direction: column;
  border: 2px solid var(--main-color);
}

/*Шапка*/

.header {
  font-family: var(--font-accent), monospace, sans-serif;
  text-transform: uppercase;
  align-items: center;
  margin: 0 auto 100px;
  padding: 0 0 25px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  width: max-content;
  margin: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) auto 20px;
}

.header__subtitle {
  margin: 0 auto 25px;
  width: min-content;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 14px;
}

.theme-menu__list {
  margin: 0 auto 0;
  width: max-content;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 14px;
  gap: 8px;
}
/*Кнопки*/
.button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.theme-menu__button {
  text-transform: uppercase;
}

.theme-menu__button:disabled {
  position: relative;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation-name: play;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  inset-inline-start: -20px;
}

.theme-menu__button:hover {
  opacity: 60%;
}

.theme-menu__button:active {
  opacity: 60%;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 60%;
  outline: none;
  transition: opacity 0.5s;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin-top: -2px;
  background-color: var(--main-color);
  transition: width 0.5s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

/*Карточки*/

